*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/scraper/node_modules
.externalNativeBuild
.cxx
local.properties

# Keystore and signing keys
*.jks
*.keystore
keystore.properties
secrets.properties

# Local configuration files
.env
.env.*
.env.local

# Firebase configurations (if you want to keep your project configurations private)
google-services.json
firebase-key.json

#documentacion de usuario
implementation_plan.md
user-guide.md
SCRAPER_USAGE.md
documentation.md
roadmap.md
walkthrough.md